@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(78, 187, 5), rgba(57, 189, 5, 0.1), rgba(28, 119, 184, 0.475),rgb(18, 148, 184), rgb(198, 41, 154), rgb(253, 75, 134), rgb(118, 26, 179),rgb(47, 123, 189), rgb(15, 90, 156),rgb(9, 192, 21), rgb(53, 205, 33));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.accordian {
    width: 50%;
    border-radius: 20px;
    padding: 3px;

    background: linear-gradient(-5deg,
        rgb(99, 99, 99),
        rgba(255, 255, 255, 0.9),
        rgba(230, 230, 230, 0.9),
        rgb(255, 255, 255),
        rgb(141, 141, 141),
        rgb(151, 151, 151),
        rgba(210, 210, 210, 0.9)
    );

    box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.546);
    overflow: hidden;
}

/* inner content wrapper effect */
.accordian > div {
    background: white;
    border-radius: 17px;
    cursor: pointer;
}

/* hide checkbox */
.accordian input {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    background-color:white;
    /* display: none; */
}

/* QUESTION */
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background-color:white;
    border-radius: 20px;
}

.question label {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background-color:white;
}

/* ICON */
.question i {
    font-size: 24px;
    transition: 0.3s;
    background-color:white;

}

/* ANSWER */
.answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: 0.3s ease;
    background-color:white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* OPEN STATE */
.accordian input:checked ~ .answer {
    max-height: 200px;
    padding: 10px 20px 20px;
}
.accordian input:checked ~ .question {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/* rotate icon */
.accordian input:checked ~ .question i {
    transform: rotate(90deg);
}